@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #8bc36b;
}

.unselectable {
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.logo-font {
	font-family: 'Fredoka One', cursive;
}
.button-font {
	font-family: 'Lato', sans-serif;
}

@keyframes flyUp {
	100% {
		margin-bottom: 300px;
	}
}